html {
  font-size: 48px;
}

body {
  background-color: hsl(240, 16%, 15%);
  color: hsl(0, 0%, 100%);
  font-family: "IM Fell Double Pica SC", serif;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 1.4;
  margin: 0;
  text-align: center;
  transition: all 2500ms ease-in-out;
}

header {
  padding-bottom: 12px;
}

h1 {
  font-size: 1rem;
  margin: 32px 0;
}

p {
  font-size: 0.44rem;
  margin: 20px auto;
  text-align: justify;
  width: 75%;
}

main {
  background-color: hsl(240, 16%, 12%);
  padding: 20px 0 32px 0;
}

form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

form section {
  border-bottom: 2px ridge hsl(0, 0%, 37%);
  font-size: 0.45rem;
  padding: 12px;
}

div.form-container {
  margin: 0 auto;
}

div.img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

footer {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 32px 0;
}

footer p {
  font-size: 0.35rem;
  margin: 0;
  text-align: center;
}

a {
  color: hsl(33, 100%, 65%);
  text-decoration: none;
}

figure {
  border-bottom: 2px ridge hsl(0, 0%, 37%);
  margin: 0 auto;
  padding: 32px 0 12px 0;
  width: 60%;
}

img {
  border: hsl(0, 0%, 100%);
  border-radius: 12px;
  height: 94px;
  max-width: 100%;
}

figcaption {
  font-size: 0.44rem;
}

#checklist {
  text-align: right;
}

#number-of-rudiments {
  color: hsl(240, 16%, 20%);
  cursor: pointer;
  font-weight: bold;
  text-align: center;
}

#roll,
#diddle,
#flam,
#drag {
  accent-color: hsl(33, 100%, 65%);
  border-bottom: 2px ridge hsl(0, 0%, 37%);
  cursor: pointer;
}

#submit {
  background-color: hsl(240, 16%, 15%);
  border-top: 3px solid hsl(33, 100%, 65%);
  border-right: 3px solid hsl(33, 100%, 35%);
  border-left: 3px solid hsl(33, 100%, 65%);
  border-bottom: 3px solid hsl(33, 100%, 35%);
  border-radius: 10px;
  color: hsl(33, 100%, 65%);
  cursor: pointer;
  font-family: "IM Fell Double Pica SC", serif;
  font-size: 0.4rem;
  letter-spacing: 1px;
  margin-top: 15px;
  padding: 10px;
  transition: all 200ms ease-in-out;
}

a:hover,
a:focus {
  text-decoration: underline;
}

#submit:active {
  background-color: hsl(240, 16%, 0%);
  transform: translate(2px, 1px);
  transition: transform 0s ease-in-out;
}

@media only screen and (max-width: 768px) {
  figcaption {
    font-size: 0.35rem;
  }
}
@media only screen and (max-width: 480px) {
  header {
    padding-right: 12px;
    padding-left: 12px;
  }
  h1 {
    font-size: 0.7rem;
  }
  p {
    text-align: center;
    width: auto;
  }
  figure {
    width: 90%;
  }
  footer p {
    font-size: 0.3rem;
  }
}
