html {
  font-size: 48px;
}

body {
  background-color: hsl(240, 16%, 15%);
  color: hsl(0, 0%, 100%);
  font-family: "IM Fell Double Pica SC", serif;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
  transition: all 2500ms ease-in-out;
  margin: 0;
}

header {
  padding-bottom: 12px;
}

h1 {
  margin: 32px 0;
  font-size: 1rem;
}

p {
  font-size: 0.44rem;
  text-align: justify;
  margin: 20px auto;
  width: 75%;
}

main {
  background-color: hsl(240, 16%, 12%);
  padding: 20px 0 32px 0;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

form section {
  font-size: 0.45rem;
  border-bottom: 2px ridge hsl(0, 0%, 37%);
  padding: 12px;
}

div.form-container {
  margin: 0 auto;
  width: 40%;
}

div.img-container {
  /*margin: 20px 15px 40px 15px;*/
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

footer {
  font-size: 0.35rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px 0;
}

a {
  text-decoration: none;
  color: hsl(33, 100%, 65%);
}

figure {
  border-bottom: 2px ridge hsl(0, 0%, 37%);
  padding: 32px 0 12px 0;
  margin: 0 auto;
  width: 50%;
}

img {
  border: hsl(0, 0%, 100%);
  border-radius: 12px;
  height: 94px;
  max-width: 100%;
}

figcaption {
  font-size: 0.38rem;
}

#checklist {
  text-align: right;
}

#number-of-rudiments {
  color: hsl(240, 16%, 20%);
  cursor: pointer;
  font-weight: bold;
  text-align: center;
}

#roll,
#diddle,
#flam,
#drag {
  accent-color: hsl(33, 100%, 65%);
  cursor: pointer;
  border-bottom: 2px ridge hsl(0, 0%, 37%);
}

#submit {
  background-color: hsl(240, 16%, 15%);
  border-top: 3px solid hsl(33, 100%, 65%);
  border-right: 3px solid hsl(33, 100%, 35%);
  border-left: 3px solid hsl(33, 100%, 65%);
  border-bottom: 3px solid hsl(33, 100%, 35%);
  border-radius: 10px;
  color: hsl(33, 100%, 65%);
  cursor: pointer;
  padding: 10px;
  margin-top: 15px;
  font-family: "IM Fell Double Pica SC", serif;
  letter-spacing: 1px;
  font-size: 0.4rem;
  transition: all 200ms ease-in-out;
}

a:hover,
a:focus {
  text-decoration: underline;
}

#submit:active {
  background-color: hsl(240, 16%, 0%);
  transform: translate(2px, 1px);
  transition: transform 0s ease-in-out;
}
