html {
  font-size: 48px;
}

body {
  background-color: hsl(240, 16%, 20%);
  box-sizing: border-box;
  color: hsl(0, 0%, 100%);
  font-family: "IM Fell Double Pica SC", serif;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
}

h1 {
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 1rem;
}

div.img-container {
  margin: 20px auto 40px auto;
}

figure {
  border-bottom: 2px ridge hsl(0, 0%, 37%);
  padding: 12px 0;
  margin: 0 auto;
  width: 400px;
}

figcaption {
  font-size: 0.5rem;
}

img {
  border: hsl(0, 0%, 100%);
  border-radius: 1px;
  width: 100%;
}

#submit {
  background-color: hsl(28, 100%, 50%);
  border-top: 3px solid hsl(33, 100%, 65%);
  border-right: 3px solid hsl(33, 100%, 35%);
  border-left: 3px solid hsl(33, 100%, 65%);
  border-bottom: 3px solid hsl(33, 100%, 35%);
  border-radius: 10px;
  color: hsl(0, 0%, 100%);
  cursor: pointer;
  padding: 10px;
}

#submit:active {
  background-color: hsl(36, 100%, 45%);
  transform: rotate(45deg);
}
